@import "../base/base";


.backStageLogin{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    .container{
        margin: 20px auto;
     .component_zone{
        width: 400px;
        margin: 0 auto;
        display: flex;
        border: 1px solid #888;
        border-radius: 20px;
        .form_area{
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 400px;
            .title_dist{
            margin: 20px;
                h2{
                    font-size: $fontSize-SubTitle;
                }
        }
        .form_dist{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                .form_region{
                    width: 100%;
                }
                .form_group{ 
                    width: 80%;
                    margin: 20px auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    label{
                        align-self: flex-start;
                    }
                    input{
                        width: 100%;
                        margin: 5px;
                    }
                }
                .btn_region{
                    width: 100%;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .text_group{
                        margin: 10px;
                    }
                    .btn_group{
                        align-self: end;
                    }
                }
            }
            
           
            
        }
        .subTitle_dist{
            margin: 20px;
            h3{
                font-size: $fontSize-middle;
            }
        }
        .thirdLogin_dist{
            display: flex;
            margin-bottom: 30px;
            .icon{
                margin: 0 10px;
                font-size: $fontSize-SubTitle +10;
                color: black;
            }
        }
    }
}   
    }
}
