@import "../mixin/mixin";
@import "../base/var";
@import "../base/base";

.buttonlist{
    width: 100%;
    margin-bottom: 65px;
}
.buttonlist .all{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    margin:auto;
    border:1px solid black;
    border-radius: 50px;
}
.client{
    display: flex;
    justify-content: space-around;
}
.bt01 p{
    margin-right: 95px;
}
.bt02 p{
    margin-right: 95px;
}
.clifor01{
    width: 836px;
    height: 655px;
    border: 1px solid black;
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 836px 655px;
}
.phone{
    position: relative;
    right:-350px;
    bottom:40px;
    color:#163257;
    font-weight: 800;
}
.name{
    margin-left: 20px;
    color:#163257;
    font-weight: 800;
}
.address{
    position: relative;
    bottom:40px;
    margin-left: 20px;
    color:#163257;
    font-weight: 800;
}
.ps{
   margin-left: 20px;
   position: relative;
   bottom:40px;
   color:#163257;
   font-weight: 800;
}
.cinfor h3{
    margin-left: 20px;
    margin-bottom: 40px;
    color:#163257;
    font-weight: 900;
    font-size: 24px;
    
}
.clifor01 .member01{
    margin-left: 20px;
    color:#163257;
    font-weight: 800;
}
input[name="name"]{
    width: 250px;
    height: 25px;
}
input[name="tel"]{
    width: 250px;
    height: 25px;
}
input[name="address"]{
    width: 600px;
    height: 25px;
}
input[name="ps"]{
    width: 700px;
    height: 205px;
}
.money_detail01{
    width: 529px;
    height: 650px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 529px 700px;
}
.money_detail01 button{    
        width:100px;
        position: relative;
        left: 430px;
        bottom: -10px;
        @include btnStyle($btnColor-primary,100px);
}
.buttonplace{
    margin-left: -110px;
}
.ship{
    margin-left: 400px;
}
.ship p{
    color:#163257;
    font-weight: 900;
}
.ship span{
    color:#163257;
    font-weight: 900;
}