.final .container{
    margin: auto;
}
.word1{
    margin: auto;
}
.final{
    display: flex;
    justify-content: center;
    height: 785px;
    width: 1000px;
    margin: auto;
    border: 1px solid black;
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size:2560px 985px;
}
.thanks h2{
    color:#163257;
    font-weight: 800;
    font-size: 24px;
}
.thanks{
    margin-bottom: 172px;
}
.checklist p{
    color:#163257;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}
button{
    @include btnStyle($btnColor-primary,100px);
   
}
.check{
    width: 500px;
    margin: auto;
    display: flex;
    margin-bottom: 30px;
}
:nth-child(1).payment-page-step-btn{
    width: 33.33333%;
    height: 40px;
    p{
        line-height: 40px;
        text-align: center;
        color: black;
    }
    a{
        text-decoration: none;
    }
}
:nth-child(2).payment-page-step-btn{
    width: 33.33333%;
    height: 40px;    
    border-radius: 30px;
    p{
        line-height: 40px;
        text-align: center;
        color: black;
    }
    a{
        text-decoration: none;
    }
}
:nth-child(3).payment-page-step-btn{
    width: 33.33333%;
    height: 40px;
    background-color: $blue-tertiary;
    color: $gray-secondary;
    border: 1px solid $blue-tertiary;
    border-radius: 30px;
    p{
        line-height: 40px;
        text-align: center;
    }
}