.finshpage{
    .fixmargin{
        margin: 0;
    }
    .center{
        // border: 1px solid red;
        // background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pic-gift{
        position: relative;
        .giftboxpic{
            object-fit: cover;
            width: 100%;
        }
        .giftribbonpic{
            // height: 500px;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
    }
    .pic-watch{
        position: relative;
        box-sizing: border-box;
        width: 80%;
        // height: 500px;
        .currentBand{
            // height: 500px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .currentBezel{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // height: 500px;
            object-fit: cover;
            width: 100%;
        }
        .currentFace{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // height: 500px;
            object-fit: cover;
            width: 100%;
        }
        .currentFun1{
            position: absolute;
            top: 42%;
            left: 45.5%;
            width: 9%;
        }
        .currentFun2{
            position: absolute;
            top: 50%;
            left: 38%;
            width: 9%;
        }
        .currentFun3{
            position: absolute;
            top: 50%;
            left: 53%;
            width: 9%;
        }
        .currentPoint{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // height: 500px;
            object-fit: cover;
            width: 100%;
        }
    }
    .arr-set{
        display: flex;
        align-items: flex-end;
    }
    .arr{
        max-width: 98px;
        height: auto;
        position: relative;
        cursor: pointer;
        // .arr-txt{
        //     top: 0px;
        //     right: 0px;
        //     left: 0px;
        //     bottom: 0px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     position: absolute;
        //     z-index: 2;
        //     // background-color: red;
        //     border-radius: 50%;
        // }
        img{
            width: 100%;
        }
    }

}
.formsec{
    font-size:$fontSize-middle;
    .mainform{
        background-color: $blue-secondary;
        width: 70%;
        padding:30px;
        // border: 1px solid red;
        // height: 700px;
        // background-color: royalblue;
        margin: auto;
        ol{
        padding-left: 20px;
            li{
            list-style-type:lower-decimal;
            padding: 10px 0px;
            }
        }
        .formtitle h2{
            text-align: center;
        }
        .item{
            display: flex;
            justify-content: space-between;
            padding: 0px 30px;
            // border: springgreen 1px solid;
            img{
                width: 50%;
            }
        }
        .itemsettxt{
            text-align: center;
            padding: 0px 30px;
            // border: springgreen 1px solid;
        }
    }
    .featurepic{
        display: flex;
        max-width: 160px;
        img{
            width: 100%;
        }
    }
    .featureitem{
        padding-top: 10px;
        margin-bottom: -30px;
        justify-content: center;
        align-items: center;
    }
    .featuretxt{
        padding: 0px;
    }
    .textcon{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        textarea{
            resize: none;
        }
    }
    
}
.buttonarea{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    button{
        font-size:$fontSize-middle;
        @include btnStyle($btnColor-primary,210px);
    }
}

@media screen and (min-width:375px){
    .formsec{
        .mainform{
            background-color: $blue-secondary;
            width: 90%;
        }
    }
}