.hot-design-banner{
    width: 100%;
    img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        vertical-align: middle;
    }
    .container{
        max-width: 1200px;
        margin: auto;
        position: relative;
        .customization-link{
            position: absolute;
            bottom: 50px;
            right: 50px;
            h2{
                font-size: $fontSize-SpecialSubTitle;
                color: white;
                padding: 0 0 15px;
            }
            p{
                font-size: $fontSize-SubTitle;
                color: white;
                padding: 0 0 15px;
            }
            button{
                @include btnStyle($btnColor-secondary, 50%);
                color: white;
                font-size: 18px;
            }
            
        }
    }
}

.hot-design{
    h2{
        text-align: center;
        font-size: $fontSize-SpecialSubTitle;
        color: $blue-tertiary;
        padding: 50px 0;
    }
    .container{
        max-width: 1200px;
        margin: auto;
        display: flex;
        .hot-design-filter{
            padding: 0 15px;
            width: 30%;
            h3{
                font-size: $fontSize-Title;
                text-align: center;
                position: relative;
                border-bottom:1px solid $blue-tertiary ;
                padding: 0 0 15px;
            }
            .first-sort{
                >li{
                    padding: 10px;
                    h4{
                        font-size: $fontSize-SubTitle ;
                        padding: 10px 0;
                    }

                    .second-sort{
                        li{
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            input[type=checkbox]{
                                width:  $fontSize-middle;
                                height:  $fontSize-middle;
                            }
                            label{
                                font-size: $fontSize-middle;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                > li + li {
                    border-top: 1px solid $blue-tertiary ;
                }
            }
        }
        .hot-design-list{
            width: 70%;
            .hot-design-item{
                display: flex;
                color: white;
                padding: 20px;
                margin: 0 0 50px;
                position: relative;
                background: linear-gradient(-75deg,$blue-tertiary 84.9999999%,#fff 85% ,#fff 100%);
                .heart{
                    width: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    img{
                        width: 100%;
                    }
                }
                .hot-design-pic{
                    width: 20%;
                    img{
                        width: 100%;
                    }
                }
                .hot-design-content{
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 10px;
                    .content-item{
                        display: flex;
                        width: 50%;
                        font-size: $fontSize-middle;
                        .item-title{
                            margin: 0 20px 0 0;
                        }
                    }
                }

                .collect{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    display: flex;
                    .collect-item{
                        display: flex;
                        align-items: center;
                        margin-right: 30px;
                        .collect-times{
                            margin-right: 10px;
                        }
                    }
                    button{
                        @include btnStyle($btnColor-primary, 150px);
                        color: white;
                    }
                }
            }

        }
    }

}