@import "../mixin/mixin";
@import "../base/var";
@import "../base/base";

#gameapp{
    .container{
        max-width: 1200px;
        max-height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .backgroundlotter{
        width: 40%;
        position: relative;
    }
    .backgroundlotter img{
        width: 100%;
        object-fit: cover;
    }
    .circlearea{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .circlearea img{
       width: 100%;
       object-fit: cover;
    }
    .point{
        position: absolute;
        transform-origin:(-50%,-50%);
        top: 16%;
    }
    .point img{
       width: 100%;
    }
    rain{ 
        position: absolute;
        top: 0px;
        animation: animate 5s linear infinite;
        z-index: -1;
        background-image: url(../../images/bluebubble.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    rain:nth-child(3n+1){
        position: absolute;
        top: 0px;
        animation: animate 5s linear infinite;
        z-index: -1;
        background-image: url(../../images/pinkbubble.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    @keyframes animate {
    100% {
        transform: translateY(-120px);
    }
    0% {
        transform: translateY(100vh);
    }
    }
    .jumpcover{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .jumpcover .ju-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .jumpcover .ju-box .pic img{
        width: 100%;
    }
    .jumpcover .ju-box .txt{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .jumpcover .ju-box .txt button{
        display: inline-block;
        margin: 0px 10px;
    }
    .startbtn{
        position: absolute;
        top: 55%;
        left: 15%;
        h2{
            padding:20px 0px;
        }
        button{
            display: block;
            margin-left: auto;
            @include btnStyle($btnColor-primary);
        }
    }
}