.member-section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .member-select{
        // position:fixed;
        color: $gray-secondary;
        width: 30%;
        @include mobile{
            position: absolute;
            width: 100%;
            transition: 1s auto;
            top: 0;
            left: -370px;
            transition: 1s left;
            &::after{
                content: '會員中心';
                text-align: center;
                width: 30px;
                height: 80px;
                background-color: $blue-tertiary;
                position: absolute;
                top: 0;
                right: -30px;
                padding-top: 5px;
                border-radius: 0px 10px 10px 0px;
            }
        }
        .member-side-bar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $blue-tertiary;
            padding: 30px;
            @include mobile{
                padding: 30px 30px 30px 90px;
            }
            .member-header{
                display: flex;
                margin-bottom: 10px;
                .member-img{
                    margin-right: 10px;
                }
                .member-name{
                    h1{
                        line-height: 30px;
                    }
                    .member-edit-btn{
                        display: block;
                        background: $btnColor-primary;
                        border-radius: 20px;
                        box-sizing: border-box;
                        padding: 5px;
                        border: none;
                        color: $gray-secondary;
                    }
                }
            }
            .data-box{
                margin-bottom: 10px;
                padding: 10px;
                font-size: $fontSize-middle;
                table{
                    border-radius: 16px;
                    background: $btnColor-primary;
                    line-height: 40px;
                    width: 200px;
                    text-align: center;
                }
                .lightbox{
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    background-color: #5858584d;
                    width: 100%;
                    height: 100%;
                    .container{
                        width: 30%;
                        background-color: $blue-primary;
                        border: 2px solid $blue-tertiary;
                        border-radius: 10px;
                        margin: auto;
                        padding: 10px;
                        transform: translateY(15%);
                        position: relative;
                        @include mobile{
                            width: 90%;
                        }
                        #closeBox{
                            position: absolute;
                            cursor: pointer;
                            width: 40px;
                            height: 40px;
                            // background-color: $gray-tertiary;
                            display: block;
                            text-align: center;
                            border-radius: 20px;
                            margin-left: auto;
                            color: $gray-tertiary;
                            font-weight: 800;
                            line-height: 40px;
                            right: 0;
                            top: 0;
                        }
                        .lightbox-header{
                            display: flex;
                            margin: auto;
                            width: 80%;
                            .lightbox-member-img{
                                width: 50%;
                                margin-right: 10px;
                                img{
                                    width: 100%;
                                    vertical-align: middle;
                                }
                            }
                            .lightbox-member-name{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                h1{
                                    display: block;
                                    padding: 5px;
                                    color: $gray-tertiary;
                                }
                                .member-edit-btn{
                                    border-radius: 20px;
                                    padding: 5px;
                                    border: 1px solid $blue-primary;
                                    background-color: $gray-tertiary;
                                    color: black;
                                }
                                input{
                                    visibility:hidden;
                                    display: block;
                                    margin: 0 auto;
                                    width: 100px;
                                }
                            }
                        }
                        .lightbox-txt{
                            margin: auto;
                            padding: 5px;
                            width: 70%;
                            h2{
                                color: $gray-tertiary;
                                line-height: 20px;
                            }
                            input{
                                width: 100%;
                                line-height: 30px;
                                background-color: $gray-tertiary;
                            }
                            input[type="text"]{
                                border: 1px solid $blue-primary;
                                border-radius: 8px;
                            }
                        }
                        .lightbox-btn-check{
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button{
                                display: block;
                                width: 80px;
                                border-radius: 20px;
                                padding: 5px;
                                margin: 5px;
                                border: 1px solid $blue-primary;
                                background-color: $gray-tertiary;
                            }
                        }
                    }
                }
            }
            .member-card{
                width: 90%;
                img{
                    width: 100%;
                }
            }
            .member-side-bar-btn{
                
                width: 100%;
                a{
                    text-decoration: none; 
                    color: white;
                    font-size: $fontSize-Small;
                    background: $btnColor-primary;
                    display: block;
                    width: 200px;
                    border-radius: 16px;
                    line-height: 40px;
                    text-align: center;
                    margin: 10px auto;
                }
            }
        }
    }
    .active{
        // transform: translateX(350px);
        left:-80px;
        transition: 1s left;
    }
    .member-content{
        width: 70%;
        // height: 200vh;
        // margin-left: 30%;
        @include mobile{
            width: 100%;
        }
        .mem_cus_main{
            margin: auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            font-family: $fontStyle-primary;
            .mem_cus_body{
                width: 35%;
                border: 1px solid gray;
                background-color: whitesmoke;
                margin: 20px;
                padding: 25px;
                border-radius: 2%;
                @include mobile{
                    width: 88%;
                }
                .c_pic{
                    width: 100%;
                    a{
                        text-decoration: none;
                        img{
                            width: 100%;
                        }
                    }
                }
                h3{
                    font-size: $fontSize-SubTitle;
                    text-align: center;
                    margin: 20px;
                }
            }
        }
    }
}