
section.product {
    background-image: url(../images/product_page-bg.png);
    background-size: cover;
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 150px 0;
        display: flex;
        flex-wrap: wrap;

        .product-pic {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .switch-pics {
                width: 18%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .switch-pic {
                    width: 100%;

                    img {
                        width: 100%;
                        vertical-align: middle;
                        background-color: #ccc;
                        opacity: 0.7;
                    }

                    .clicked {
                        opacity: 1;
                    }
                }
            }

            .main-pic {
                width: 80%;

                img {
                    width: 100%;
                    vertical-align: middle;
                    background-color: #ccc;
                }
            }
        }

        .product-title {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 100px 50px;

            h2 {
                font-size: $fontSize-Title;
                color: rgb(224, 123, 86);
                padding: 10px 0;
            }

            P {
                font-size: $fontSize-SubTitle;
                color: rgb(221, 178, 162);
                padding: 10px 0;
            }

            button {
                @include btnStyle($btnColor-primary, 100%);
                color: white;
                font-size: $fontSize-middle;
                margin: 20px auto 0;
            }
        }
    }
}


@media screen and (max-width: 375px) {
    section.product {
        .container {
            flex-direction: column;
            padding: 50px 0;

            .product-pic {
                width: 100%;
                padding: 0 20px;
            }

            .product-title {
                width: 100%;
                padding: 50px;
            }
        }
    }
}

section#product-detail {
    .section-select {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .detail-tab {
            width: 33.333333%;
            font-size: $fontSize-middle;
            text-align: center;
            padding: 18px 0;
            cursor: pointer;
        }

        .active-tab {
            background-color: $blue-tertiary;
            color: white;
        }
    }

    .container {
        max-width: 1200px;
        margin: auto;
        .info-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .info-txt {
                width: 48%;
                font-size: $fontSize;
                padding: 80px 0;
                line-height: 1.5;
            }
        }

        .specification-pic {
            width: 80%;
            margin: auto;
            padding: 80px 0;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }

        .comment-list {
            max-width: 1200px;
            margin: auto;
            padding: 30px;

            .comment-item {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px 0;

                .mem-pic {
                    width: 10%;
                    height: 10%;
                    border-radius: 50%;
                    background-color: $gray-primary;

                    img {
                        width: 100%;
                        border-radius: 50%;
                        vertical-align: bottom;
                    }
                }

                .comment-content {
                    padding: 0 20px;
                    width: 80%;

                    .comment-score {
                        padding: 5px 0;

                        .fa-star {
                            color: $blue-tertiary;
                        }
                    }

                    .comment-txt {
                        padding: 5px 0;

                        span {
                            font-size: $fontSize;
                        }

                        .mem-comment {
                            line-height: 1.5;
                        }
                    }
                }

                .report-btn {
                    width: 10%;
                    display: flex;
                    justify-content: center;

                    .fa-exclamation-triangle {
                        color: $blue-tertiary;
                        border: none;
                        font-size: $fontSize;
                        cursor: pointer;
                    }
                }

            }

        }
    }
}

@media screen and (max-width: 375px) {
    section#product-detail {
        .container {
            .info-content {
                padding: 0 20px;
                flex-direction: column;
                justify-content: unset;

                .info-txt {
                    width: 100%;
                    font-size: $fontSize;
                    padding: 20px 0;
                }
            }
        }
    }
}

section.relative-product {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    &::before {
        content: "";
        width: 100%;
        height: 50%;
        background-color: $blue-tertiary;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-25%) skewY(-4deg);
    }

    .container {
        max-width: 1440px;
        margin: auto;
        display: block;
        h3 {
            text-align: center;
            font-size: $fontSize-Title;
            color: $blue-tertiary;
            padding: 50px 0;
        }

        .owl-carousel {
            .item {
                a{
                    text-decoration: none;
                    .product-card {
                        background-color: transparent;
                        .product-pic {
                            width: 100%;
                            object-fit: cover;
                        }
    
                        .product-txt {
                            padding: 10px;
                            text-align: center;
                            background-color: $blue-secondary;
                            color: $gray-secondary;
                            width: 80%;
                            margin: auto;
                            border-radius: 20px;
                            h4 {
                                font-size: $fontSize-middle;
                                padding: 5px 0;
                            }
    
                            p {
                                font-size:$fontSize-middle;
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }

        .owl-theme {
            position: relative;
            padding: 0 120px;
            .owl-nav {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 0;

                button {
                    margin: 0;

                    span {
                        font-size: 80px;
                        color: #eee;
                    }
                }
            }
        }

        .owl-theme .owl-nav [class*='owl-']:hover {
            background: transparent;
            color: $gray-primary;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 375px){
    section.relative-product {
        .container {
            .owl-theme {
                padding: 0 30px;
            }
        }
    }
}