.payment-page-step{
    width: 500px;
    display: flex;
    border-radius: 30px;
    margin: 16px auto;
    :nth-child(1).payment-page-step-btn{
        width: 33.33333%;
        height: 40px;
        border-radius: 30px;
        p{
            line-height: 40px;
            text-align: center;
            color:black;
        }
        a{
            text-decoration: none;
        }
    }
    :nth-child(2).payment-page-step-btn{
        width: 33.33333%;
        height: 40px;    
        border-radius: 30px;
        border:1px solid $blue-tertiary;
        background-color:$blue-tertiary;
        color:#f7f2ec;
        p{
            line-height: 40px;
            text-align: center;
            color:#f7f2ec;
        }
     
    }
  .payment-page-step-btn5{
        width: 33.33333%;
        height: 40px;
        p{
            line-height: 40px;
            text-align: center;
            color: black;
        }
        a{
            text-decoration: none;
        }
    }
}
.payment-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    // background-color: bisque;
    .receiver-box{
        border: 1px solid #aaa;
        padding: 10px;
        background-image: url('../images/bg.jpeg');
        margin-bottom: 30px;
        .receiver-tb{
            margin: auto;
            margin-bottom: 30px;
            width: 1000px;
            padding: 10px;
            font-size: $fontSize-middle;
            font-weight: 600;
            th{
                text-align: start;
            }
            tr{
                border-bottom: 1px solid #1f396e;
                line-height: 50px;
                padding: 5px;
                padding-left: 10px;
                td{
                    padding: 20px;
                }
                .receiver-title{
                    width: 160px;
                }
            }
        }
    }
    .order-box{
        border: 1px solid #aaa;
        padding: 10px;
        background-image: url('../images/bg.jpeg');
        margin-bottom: 30px;
        .order-tb{
            margin-bottom: 30px;
            width: 1000px;
            padding: 10px;
            font-size: $fontSize-middle;
            background-image: url('../images/bg.jpeg');
            font-weight: 600;
            th{
                text-align: start;
            }
            tr{
                border-bottom: 1px solid #293B5F;
                line-height: 50px;
                padding: 5px;
                padding-left: 10px;
                td{
                    padding: 20px;
                }
                .order-title{
                    width: 160px;
                }
            }
        }
    }
    .payment-box{
        border: 1px solid #aaa;
        padding: 10px;
        background-image: url('../images/bg.jpeg');
        margin-bottom: 30px;
        .payment-tb{
            margin-bottom: 30px;
            width: 1000px;
            padding: 10px;
            font-size: $fontSize-middle;
            background-image: url('../images/bg.jpeg');
            font-weight: 600;
            th{
                text-align: start;
            }
            tr{
                border-bottom: 1px solid $blue-primary;
                line-height: 50px;
                padding: 5px;
                td{
                    padding: 20px;
                    select{
                    }
                    input[type=text]{
                        font-size: $fontSize-middle;
                    }
                }
                .payment-title{
                    width: 180px;
                }
            }
        }
        
    }
}
.payment-page-btn-box .payment-page-btn a{
    text-decoration: none;
    color:black;
}
@media screen and (max-width:375px){
    .payment-page{
        max-width: 90%;
        .receiver-box{
            .receiver-tb{
                width: 100%;
                tr{
                    .receiver-title{
                        width: 100px; 
                    }

                }
            }
        }
        .order-box{
            width: 100%;
            .order-tb{
                width: 100%;
            }
        }
        .payment-box{
            .payment-tb{
                width: 100%;
                tr{
                    td{
                        input[type=text]{
                            width: 90px;
                        }
                        .payment-title{
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}