@import "../mixin/mixin";
@import "../base/var";
@import "../base/base";
.shoppage{
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
}
.item .item_detail{
    display: flex;
    align-items: center;
    margin-top: 63px;
    border: 1px solid black;
    width: 838px;
    height: 172px;
    justify-content: center;
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 838px 172px;
}
.item img{
    width: 20%;
    background-color: #163257;
}
.item h4{
    color:#163257;
    padding-bottom: 10px;
}
.qty{
    width:50px;
}
.information{
    display: flex; 
    
}
.information span{
   color:#163257;
}
dt{
    position: relative;
    left:150px;
    bottom:5px;
    color:#163257;
}
input.qtyplus {
    width: 15px;
    height: 25px;
    border: 1px solid #aaa;
    background: #f8f8f8;
  }
  
input.qtyminus {
    width: 15px;
    height: 25px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}
.money_detail{
    width: 529px;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 529px 700px;
}
.money{
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 50px;
    align-items: center;
}
.money01{
    width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.money02{
    width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m01{
    display: flex;
}
.m02{
    display: flex;
    border-top: 1px solid black;
    width:525px;
}
.m01 h2{
    margin-right: 455px;
    position: relative;
    top: 30px;
    color:#163257;
    font-size: 18px;
    font-weight: 700;
}
.m02 p2{
    margin-left: 340px;
    color:#163257;
}
.m03{
    display: flex;
    border-bottom: 1px solid black;
    width:525px;
    margin-top: 30px;
}
.m03 p3{
    position: relative;
    left:405px;
    color:#163257;
}
.m05{
    display: flex;
}
.m05 p2{
    margin-left: 340px;
    color:#163257;
}
.m06{
    display: flex;
    border-bottom: 1px solid black;
    width:525px;
    margin-top: 30px;
}
.m06 p3{
    position: relative;
    left:405px;
    color:#163257;
}
.money03{
    width: 533px;
    height: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.money_detail span{
    text-align: end;
    color:#163257;
}
.money_detail button{
    width:100px;
    position: relative;
    left: 430px;
    bottom: -10px;
    @include btnStyle($btnColor-primary,100px);
}