
#cuz-section{
    padding: 50px 0;
    .container{
        max-width: 1200px;
        margin: auto;
        display: flex;
        .cuzname{
            border: none;
            outline: none;
            border-bottom: 1px solid $blue-tertiary;
            margin: 0 0 20px;
            font-size: 24px;
            width: 200px;
        }
        .fa-pen{
            color:$blue-tertiary;
        }
        .cuz-bar{
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            div {
                color: $blue-tertiary;
                font-size: 32px;
                padding: 20px 10px;
                border-radius: 10px;
                p{
                    writing-mode: vertical-lr;
                }
            }
            .activetab{
                background-color:$blue-tertiary;
                color: white;
            }
        }
        .show-box{
            width: 45%;
            .watch-box{
                width: 100%;
                .showpic{
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    .float-img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 80%;
                        vertical-align: bottom;
                        margin-left: 10%;
                    }
                    .bottom-img{
                        position: static;
                        width: 80%;
                        vertical-align: bottom;
                        margin-left: 10%;
                    }
                    .watch-item{
                        display: flex;
                        justify-content: space-evenly;
                        padding: 10px 0;
                        .selected-item{
                            width: 23%;
                            // height: 105px;
                            border: 2px solid $blue-tertiary;
                            border-radius: 30px;
                            cursor: pointer;
                            .selected-img{
                                width: 100%;
                                // height: 100%;
                                object-fit: cover;
                                vertical-align: bottom;
                                border-radius: 30px;
                            }
                        }
                    }
                    .fun1{
                        position: absolute;
                        width: 8%;
                        top: 32%;
                        left: 46%;
                    }
                    .fun2{
                        position: absolute;
                        width: 8%;
                        top: 37.5%;
                        left: 39.5%;
                    }
                    .fun3{
                        position: absolute;
                        width: 8%;
                        top: 37.5%;
                        left: 52%;
                    }

                    .plugin{
                        position: absolute;
                        top :50%;
                        left: 0;
                    }
                    .finish-btn{
                        @include btnStyle($btnColor-primary,50%);
                        font-size:24px;
                        position: absolute;
                        bottom:10%;
                        left: 50%;
                        transform: translateX(-50%);

                        a{
                            text-decoration: none;
                            color: $blue-tertiary;
                        }
                    }
                }
                .showpic:nth-child(2){
                    .watch-item{
                        visibility: hidden;
                    }
                }
                .showpic:nth-child(3){
                    .watch-item{
                        visibility: hidden;
                    }
                }
                .showpic:nth-child(4){
                    .watch-item{
                        visibility: hidden;
                    }
                }
            }
        }
        .cuz-zone{
            width: 45%;
            .outer-page{
                display: flex;
                height: 100%;
                .aside{
                    width: 20%;
                    padding:0 15px ;
                    border-radius: 30px 0 0 30px;
                    background-color: $blue-tertiary;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height: 100%;
                    div{
                        img{
                            width: 100%;
                            vertical-align: bottom;
                        }
                    }
                }
                .cuz-item{
                    background-color:$gray-tertiary;
                    width: 80%;
                    max-height: 850px;
                    border-radius: 0 30px 30px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: flex-start;
                    overflow-y: scroll;
                    .pic{
                        width: 50%;
                        padding: 20px;
                        img{
                            width: 100%;
                            // height: 160px;
                            object-fit: cover;
                            vertical-align: bottom;
                            background-color:white ;
                            cursor: pointer;
                        }
                        p{
                            text-align: center;
                            color: $blue-tertiary;
                            font-size: 24px;
                        }
                    }
                }
            }
            .function-page{
                padding:20px;
                border: 2px solid $blue-tertiary;
                border-radius: 30px;
                height: 100%;
                h3{
                    font-size: 28px;
                    color: $blue-tertiary;
                    margin-bottom: 20px;
                }
                .fun-area{
                    margin:0 0 80px;
                    display: flex;
                    align-content: center;
                    .fun-pic{
                        width: 40%;
                        margin-right: 20px;
                        img{
                            width: 100%;
                            vertical-align: bottom;
                        }
                    }
                    .fun-select{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .select-item{
                            display: flex;
                            align-items: center;
                            label{
                                font-size: 24px;
                                margin-right: 20px;
                                color: $blue-tertiary;
                            }
                            select{
                                width: 150px;
                                font-size: 24px;
                                color: $blue-tertiary;
                                background-color: $gray-tertiary;
                                border-radius: 10px;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
                .dive-area{
                    input{
                        font-size: 24px;
                        margin:0 20px 20px 0;
                    }
                    label{
                        font-size: 24px;
                        color: $blue-tertiary;
                    }
                }

            }

            .word-page{
                width: 100%;
                border: 2px solid $blue-tertiary;
                border-radius: 30px;
                height: 100%;
                padding: 40px 20px;
                .content_zone{
                    margin-bottom: 30px;
                    label{
                        display: block;
                        font-size: 24px;
                        color: $blue-tertiary;
                        margin-bottom: 10px;
                    }
                    input{
                        font-size: 24px;
                        padding: 5px;
                        color: $blue-tertiary;
                        width: 100%;
                        background-color: $gray-tertiary;
                        border-radius: 10px;
                    }
                }
                .fontStyle_zone{
                    margin-bottom: 30px;
                    label{
                        display: block;
                        font-size: 24px;
                        color: $blue-tertiary;
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }
                    select{
                        display: block;
                        font-size: 24px;
                        color: $blue-tertiary;
                        background-color: $gray-tertiary;
                        width: 100%;
                        padding: 5px;
                        border-radius: 10px;
                    }
                }
                .fontWeight_zone{
                    margin-bottom: 80px;
                    label{
                        display: block;
                        font-size: 24px;
                        color: $blue-tertiary;
                        margin-bottom: 10px;
                    }
                    select{
                        display: block;
                        font-size: 24px;
                        color: $blue-tertiary;
                        width: 100%;
                        padding: 5px;
                        background-color: $gray-tertiary;
                        border-radius: 10px;
                    }
                }
                .check-word{
                    font-size: 24px;
                    margin: auto;
                    @include btnStyle($btnColor-primary,50%);
                    height: 30px;
                    display: block;
                    color: $blue-tertiary;
                }

            }

            .package-page{
                width: 100%;
                border: 2px solid $blue-tertiary;
                border-radius: 30px;
                height: 100%;
                padding: 40px 20px;
                .box-color{
                    margin-bottom: 60px;
                    h3{
                        font-size: 24px;
                        color: $blue-tertiary;
                        margin-bottom: 20px;
                    }
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            margin: 0 0 15px 15px;
                            // &+li{
                            //     margin: 0 0 15px 15px;
                            // }
                        }
                    }
                }
                .ribbon-color{
                    h3{
                        font-size: 24px;
                        color: $blue-tertiary;
                        margin-bottom: 20px;
    
                    }
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            margin: 0 0 15px 15px;
                            // &+li{
                            //     margin: 0 0 15px 15px;
                            // }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width:375px){
    #cuz-section{
        .container{
            display: block;
            .cuzname{
                border: none;
                outline: none;
                border-bottom: 1px solid black;
                margin: 0 0 20px 20px;
                font-size: 24px;
                width: 150px;
            }
            .cuz-bar{
                width: 100%;
                flex-direction: row;
                margin-bottom: 20px;
                div{
                    font-size: $fontSize-Title;
                    padding: 10px;
                    border-radius: 10px;
                    p{
                        writing-mode: unset;
                    }
                } 
            }
            .show-box{
                width: 100%;
                .watch-box{
                    width: 100%;
                    .showpic{
                        position: relative;
                        width: 100%;
                        .float-img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 80%;
                            margin-left: 10%;
                        }
                        .bottom-img{
                            position: static;
                            width: 80%;
                            vertical-align: bottom;
                            margin-left: 10%;
                        }
                        .plugin{
                            position: absolute;
                            top :50%;
                            left: 0;
                        }
                    }
                    .showpic:nth-child(2){
                        .watch-item{
                            visibility: hidden;
                        }
                    }
                    .showpic:nth-child(3){
                        .watch-item{
                            display: none;
                        }
                    }
                    .showpic:nth-child(4){
                        .watch-item{
                            display: none;
                        }
                    }
                }
            }

            .cuz-zone{
                width: 100%;
                .outer-page{
                    display: block;
                    height: 100%;
                    .aside{
                        width: 100%;
                        padding:0 15px ;
                        border-radius: 30px 30px 0 0;
                        background-color: $blue-tertiary;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        height: auto;
                        div{
                            width: 25%;
                            padding: 20px;
                            img{
                                width: 100%;
                                vertical-align: bottom;
                            }
                        }
                    }
                    .cuz-item{
                        width: 375px;
                        max-height: 350px;
                        border-radius: 0 0 30px 30px;
                        flex-wrap: nowrap;
                        justify-content: unset;
                        align-content: unset;
                        overflow-y: unset;
                        overflow-x: scroll;
                        .pic{
                            width: 33.333333%;
                            padding: 10px;
                            flex-shrink: 0;
                            p{
                                font-size: $fontSize-middle;
                            }
                        }
                    }
                }
                .function-page{
                    h3{
                        font-size: $fontSize-SubTitle;
                    }
                    .fun-area{
                        .fun-select{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .select-item{
                                display: flex;
                                align-items: center;
                                label{
                                    font-size: $fontSize-middle;

                                }
                                select{
                                    font-size:$fontSize-middle;
                                }
                            }
                        }
                    }
                    .dive-area{
                        input{
                            font-size: $fontSize-middle;
                        }
                        label{
                            font-size: $fontSize-middle;
                            color: $blue-tertiary;
                        }
                    }
    
                }
    
                .word-page{
                    .content_zone{
                        label{
                            font-size: $fontSize-middle;
                        }
                        input{
                            font-size: $fontSize-middle;
                        }
                    }
                    .fontStyle_zone{
                        label{
                            font-size: $fontSize-middle;
                        }
                        select{
                            font-size: $fontSize-middle;
                        }
                    }
                    .fontWeight_zone{
                        label{
                            font-size: $fontSize-middle;
                        }
                        select{
                            font-size: $fontSize-middle;
                        }
                    }
                    .check-word{
                        font-size: $fontSize-middle;
                    }
    
                } 
            }
            
        }
    }
}