@mixin btnStyle($btnColor,$btnWidth) {
    width: $btnWidth;
    height: 30px;
    background:$btnColor;
    border-radius: 80px;
    border: 1px solid #ffffff;
    box-shadow:0px 0px 3px 1px rgba(224,225,228,0.5) inset;
}
@mixin pad{
    @media(max-width:768px){
      @content;
    }
  }
  @mixin mobile{
    @media(max-width:376px){
      @content;
    }
  }
