.main-footer{
    background-color: $blue-primary;
    .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;
        margin: auto;
        padding: 20px;
        .main-footer-logo{
            width: 30%;
            img{
                display: block;
                margin: auto;
                width: 200px;
            }
        }
        .main-footer-nav{
            width: 30%;
            margin-right: 20px;
            ul{
                li {
                    text-align: end;
                    a{
                        color: $gray-secondary;
                        text-decoration: none;
                        line-height: 30px;
                    }
                }
            }
        }
        .searchAndIcon{
            width: 30%;
            .search-box{
                height: 35px;
                width: 100%;
                border-radius: 30px;
                background-color: whitesmoke;
                input[type=text]{
                    border: none;
                    background-color: transparent;
                    width: 80%;
                    margin: 0 auto;
                }
                img{
                    display: inline-block;
                    width: 25px;
                    margin: 5px;
                    margin-left: auto;
                }
            }
            .icon-box{
                margin-top: 10px;
                width: 50%;
                img{
                    width: 30%;
                }
            }
        }
    }
    .copy-right{
        width: 70%;
        height: 100px;
        margin: auto;
        line-height: 30px;
    }
}
@media screen and (max-width:375px){
    .main-footer{
        .container{
            .main-footer-logo{
                width: 100%;
                img{
                    display: block;
                    margin: auto;
                }
                // .main-footer-nav{

                // }
            }
            .searchAndIcon{
                width: 53%;
                // .search-box{
                // }
                .icon-box{
                    width: 100%;
                    img{
                        width: 30%;
                    }
                }
            }
        }
    }
}