<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BackStage Login</title>
		<link rel="stylesheet" href="./css/style.css" />
	</head>
	<body>
		@@include('./layout/header.html')
		<div id="app">
			<section class="backStageLogin">
				<div class="container">
					<div class="component_zone">
						<div class="form_area">
							<div class="title_dist">
								<h2>RAKA</h2>
							</div>
							<div class="form_dist">
								<h2>管理員登入</h2>
								<form>
									<div class="form_region">
										<div class="form_group">
											<label for="account">帳號</label>
											<input
												type="text"
												name="account"
												id="account"
												v-model="manager.account"
											/>
										</div>
										<div class="form_group">
											<label for="password">密碼</label>
											<input
												type="password"
												name="pws"
												id="pwd"
												v-model="manager.password"
											/>
										</div>
									</div>

									<div class="btn_region">
										<div class="text_group">
											<p>
												忘記帳號密碼?
												<a href="mailto:rakaSupprot@gmail.com">聯絡管理人員</a>
											</p>
										</div>
										<div class="btn_group">
											<button @click.prevent="fetchAllDate" class="login_btn">
												登入
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		@@include('./layout/footer.html')
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"
			integrity="sha512-PyKhbAWS+VlTWXjk/36s5hJmUJBxcGY/1hlxg6woHD/EONP2fawZRKmvHdTGOWPKTqk3CPSUPh7+2boIBklbvw=="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.8.1/axios.js"
			integrity="sha512-yQvhnV+bdDcAhyxTlmVUyNikQCtnIkfC9r7GesIjLg6IrJx2M92DSv58LpyobngV7WUeM1c3mpgP0971pIY98A=="
			crossorigin="anonymous"
		></script>
		<script>
			new Vue({
				el: "#app",
				data: {
					manager: {
						account: "",
						password: "",
					},
				},
				methods: {
					fetchAllDate() {
						axios
							.post("./php/backlogin.php", {
								action: "fetchSingle", //資料參數丟過去ajaxLogin.php
								memAcc: this.manager.account,
								memPsw: this.manager.password,
							})
							.then((res) => {
								if (res.data.Manager_ID > 0) {
									location.href = "orderManage.html";
								} else {
									alert("帳密錯誤，請重新輸入");
								}
							});
					},
				},
			});
		</script>
	</body>
</html>
