<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckoutList</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    @@include('./layout/header.html')
    <div class="checklist01" id="app">
        <div class="check">
            <div class="payment-page-step-btn">
                <p>填寫訂單</p>
            </div>
            <div class="payment-page-step-btn">
                    <p>確認付款</p> 
            </div>
            <div class="payment-page-step-btn3">
                <p>訂單完成</p>
            </div>
        </div>    
        <div class="client">
            <div class="clifor01">    
                <div class="cinfor">
                    <h2>收件人資訊</h2>
                </div>
                <div class="group">
                    <div class="name">
                        <label for="name">姓名:</label> <br>
                        <input type="text" name="name" v-model="name" required autofocus/>
                    </div>
                    <div class="phone">    
                        <label for="phone">電話:</label> <br>
                        <input type="text" name="tel" v-model="tel" />
                    </div>
                </div>
                <div class="address">
                    <label for="ar">地址:</label> <br>
                    <input type="text" name="address" v-model="address" />
                </div>
                <div class="ps">
                    <label for="ex">備註:</label><br>
                    <textarea name="ps" v-model="ps" maxlength="100"></textarea>
                </div>
                <div class="member01">
                    <input type="checkbox" name="star" value="1">
                    <label for="check">同會員資訊</label> 
                </div>
            </div>
            <div class="money_detail01">
                <div class="money">
                    <div class="m01">
                        <h2>確認訂單</h2>
                    </div>
                </div>
                <div class="money01" v-for="(item,index) in itemList"
                :key="item.Product_ID"
                >    
                    <div class="m02">
                        <p>{{item.Product_Name}}</p>
                        <p2>$<span id="Wprice">{{item.Product_Price}}</span></p2>
                    </div> 
                    <div class="m03">
                        <p><span id="count">*{{item.count}}</span></p>
                        <p3>小計$<span id="prodPrice">{{item.sum}}</span></p3>
                    </div>
                </div>
                <div class="ship">
                    <p>運送方式: 宅配</p>
                    <p>運費: $90</p> 
                    <span>總計$<span id="sum">{{total+90}}</span></span>
                </div>    
                <div class="buttonplace">    
                    <a href="productList_page.html">
                    <button>繼續購物</button>
                    </a>
                    <a href="shopcar_page_2.html">
                    <button class="submitOrder" @click="submitOrder">送出訂單</button>
                    </a>
                </div>    
            </div>
        </div>
    </div>
@@include('./layout/footer.html')   
<script>

new Vue({
    el:"#app",
    data:{
        itemList:[],
        name:"",
        tel:"",
        address:"",
        ps:"",
    },
    methods: {
        submitOrder(){
            localStorage.setItem("orderInfo",JSON.stringify(this.orderInfo));
        },
    },
    computed:{
        total(){
            return this.itemList.reduce((sum, i) => (sum + (i.Product_Price * i.count)), 0)
        },
       orderInfo(){
            return {oName:this.name, oTel:this.tel,oAddress:this.address,oPs:this.ps,sum:this.total,total:this.total + 90};
        },
    },
    mounted() {
        this.itemList  = JSON.parse(localStorage.getItem('addList'));
    },
})
    // function Order(){
    //     let name = document.getElementsByName("name")[0].value
    //     let tel = document.getElementsByName("tel")[0].value
    //     let address = document.getElementsByName("address")[0].value
    //     let ps = document.getElementsByName("ps")[0].value
    //     let orderInfo = {
    //         oName : name,
    //         oTel: tel,
    //         oAddress: address,
    //         oPs: ps,
    //     };
    //     // console.log(orderInfo);
    //     localStorage.setItem("orderInfo", JSON.stringify(orderInfo));
    //     // location.href = './shopcar_page_2.html';

    //     //php
    //     axios.post('./php/checkout_list.php',{
	// 				action:'fetchall',
	// 			}).then(res=>{
	// 				console.log(123)
	// 				this.products=res.data
	// 			})
    // }
    // function init(){
    //     let addList = JSON.parse(localStorage.getItem('addList'));
    //     addList[0].sum = addList[0].prodPrice * addList[0].count;
    //     // document.getElementById('#sum').value =+ 90;
    //     document.querySelector('#count').innerText = addList[0].count;
    //     document.querySelector('#Wprice').innerText = addList[0].prodPrice;
    //     document.querySelector('#prodPrice').innerText = addList[0].prodPrice * addList[0].count;
    //     document.querySelector('#sum').innerText = addList[0].sum + 90;
    //     document.querySelector('.submitOrder').onclick = Order;
    // }
    // window.addEventListener("load", init, false);
</script>
</body>
</html>