<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <title>RAKA｜前導頁</title>
</head>
<body>
    <section class="landing-wrap">
        <div class="image">
            <img src="./images/watchL.png" alt="">
        </div>
        <div class="landBtn1" onclick="javascript:location.href='./index.html'">
            <h1>
                前台
            </h1>
        </div>
        <div class="landBtn2" onclick="javascript:location.href='./backLogin_page.html'">
        <!-- <div class="landBtn2" onclick="javascript:location.href='./orderManage.html'"> -->
            <h1>
               後台
            </h1>
        </div>
        <!-- <section class="loginAndRegiPage">
            <div class="container">
                <div class="component_zone">
                    <div class="img_area">
                        <img src="./images/loginAndRegi_page-01.jpg" alt="" />
                    </div>
                    <div class="form_area">
                        <div class="title_dist">
                            <h2>管理員登入</h2>
                        </div>
                        <div class="form_dist">
                            <div class="form_region">
                                <div class="form_group">
                                    <label for="account"><p>帳號</p></label>
                                    <input type="email" id="account"  v-model="user.email" name="uEmail"/>
                                </div>
                                <div class="form_group">
                                    <label for="psw"><p>密碼</p></label>
                                    <input type="password" id="psw" v-model="user.password" name="uPsw"/>
                                </div>
                            </div>
                            <div class="btn_region">
                                <button @click="fetchAllDate()" class="submit_btn">登入</button>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
        </section> -->
        <!-- <div class="manager-login">
            <div class="container">
                <h2>管理員登入</h2><span>X</span>
                <label for="acc">管理員編號:</label>
                <input type="text"><br>
                <label for="psw">管理員密碼:</label>
                <input type="text">
                <button>登入</button>
            </div> -->

        </div>
    </section>
</body>
</html>