<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ProductList</title>
		<link rel="stylesheet" href="./css/style.css" />
	</head>
	<body id="productList">
		@@include('./layout/header.html')
		<!-- 商品圖banner -->
	<div id="uppage">
		<div class="shop_container">
			<div class="product_banner">
				<img :src="bannerPic" alt="" />
			</div>
		</div>
		<!-- 麵包屑 -->
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<li v-for="li in items">
					<a href="./index.html">{{li.name}}</a>
				{{li.page}}
				</li>
			</ul>
		</div>
		<!-- 篩選器 -->
		<section class="entzu">
			<div class="container09">
				<div class="filter">
					<div class="box">
						<input class="form-check-input" name="myCheckBox" value="全選" type="checkbox" @click="showItem=('全選')" checked="checked"/>
						<label class="type">全選</label>
					</div>
					<div class="box">
						<h4>材質</h4>
						<input class="form-check-input" name="myCheckBox" value="陶瓷" type="checkbox" @click="showItem=('陶瓷')"/>
						<label class="type">陶瓷</label>
					</div>
					<div class="box">
						<input class="form-check-input" name="myCheckBox" value="鋼" type="checkbox" @click="showItem=('鋼')" />
						<label class="type">鋼</label>
					</div>
					<div class="box">
						<h4>錶帶</h4>
						<input class="form-check-input"  name="myCheckBox" value="皮革"  type="checkbox" @click="showItem=('皮革')"/>
						<label class="type">皮革</label>
					</div>
					<div class="box">
						<input class="form-check-input" name="myCheckBox" value="金屬" type="checkbox" @click="showItem=('金屬')"/>
						<label class="type">金屬</label>
					</div>
					<div class="box">
						<input class="form-check-input" name="myCheckBox" value="尼龍" type="checkbox" @click="showItem=('尼龍')"/>
						<label class="type">尼龍</label>
					</div>
					<div class="box">
						<h4>主題</h4>
						<input class="form-check-input" name="myCheckBox" value="極深潛系列" type="checkbox" @click="showItem=('極深潛系列')"/>
						<label class="type">極深潛系列</label>
					</div>
					<div class="box">
						<input class="form-check-input" name="myCheckBox" value="衝浪者系列" type="checkbox" @click="showItem=('衝浪者系列')"/>
						<label class="type">衝浪者系列</label>
					</div>
					<div class="box">
						<input class="form-check-input" name="myCheckBox" value="海洋飛行系列" type="checkbox" @click="showItem=('海洋飛行系列')"/>
						<label class="type">海洋飛行系列</label>
					</div>
					<button class="sidebarBtn">
						<span></span>
					</button>
				</div>
				<div class="shop_list">
						<div class="list" v-for="(item, index) in filters" :key="item.Product_ID" >
							<img src="./images/product-list-heart .png" alt="愛心" ref="heart" @click="changeHeart(index)"  />
							<a :href="`product_page.html?id=${item.Product_ID}`">
								<img :src="item.Product_PIC01" alt="手錶商品圖">
							</a>
							<p>{{item.Product_Name}}</p>
							<span>{{item.Product_Price}}</span>
						</div>		
					</div>
				</div>
			</div>
		</section>
		<!-- 分頁圓點 -->
		<div class="pagination-wrapper">
			<div class="pagination">
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			@@include('./layout/footer.html')
		</div>
	</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.8.1/axios.js' integrity='sha512-yQvhnV+bdDcAhyxTlmVUyNikQCtnIkfC9r7GesIjLg6IrJx2M92DSv58LpyobngV7WUeM1c3mpgP0971pIY98A==' crossorigin='anonymous'></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script>
			new Vue({
				el: '#uppage',
				data: {
						bannerPic:"images/plistbanner.png",
						items:[
                          {name:'Home'},
                          {page:'ProductList'},
					],
						type:[
							{name:'陶瓷'}, 
							{name:'鋼'},
					],
						watch:[
							{watch:'皮革'},
							{watch:'金屬'},
							{watch:'尼龍'},
					],
					themes:[
							{theme:'極深潛系列'},
							{theme:'衝浪者系列'},
							{theme:'海洋飛行系列'},
					],
					products:[
                        //   {
                        //    img:'images/product-list05.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"陶瓷",
						//    wtype:"皮革",
						//    themetype:"極深潛系列"
                        // },
						// {
                        //    img:'images/product-list01.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼",
						//    wtype:"皮革",
						//    themetype:"衝浪者系列"
                        // },
						// {
                        //    img:'images/product-list03.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼",
						//    wtype:"皮革",
						//    themetype:"海洋飛行系列"
                        // },
						// {
                        //    img:'images/product-list02.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"陶瓷",
						//    wtype:"金屬",
						//    themetype:"衝浪者系列"
                        // },
						// {
                        //    img:'images/product-list06.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼",
						//    wtype:"金屬",
						//    themetype:"極深潛系列"
                        // },
						// {
                        //    img:'images/product-list02.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"陶瓷",
						//    wtype:"尼龍",
						//    themetype:"海洋飛行系列"
                        // },
						// {
                        //    img:'images/product-list01.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼", 
						//    wtype:"尼龍",
						//    themetype:"極深潛系列"
                        // },
						// {
                        //    img:'images/product-list06.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼",
						//    wtype:"尼龍",
						//    themetype:"海洋飛行系列"
                        // },
						// {
                        //    img:'images/product-list04.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼",
						//    wtype:"金屬",
						//    themetype:"海洋飛行系列"
                        // },
						// {
                        //    img:'images/product-list05.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"鋼",
						//    wtype:"金屬",
						//    themetype:"海洋飛行系列"
                        // },
						// {
                        //    img:'images/product-list02.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"陶瓷",
						//    wtype:"皮革",
						//    themetype:"極深潛系列"
                        // },
						// {
                        //    img:'images/product-list06.png',
                        //    title:'Formula 1X 500',
                        //    price:'NT7500',
						//    bowls:"陶瓷",
						//    wtype:"尼龍",
						//    themetype:"極深潛系列"
                        // },
					],
					showItem:"全部",	                      
				},
				methods: {
					changeHeart:function(index){
					img = this.$refs.heart[index].src
					if (img.includes("product-list-heart")) {
							this.$refs.heart[index].src= "images/product-list-redheart.svg";
					} else {
						this.$refs.heart[index].src= "images/product-list-heart .png";
					}
			}
		},		
				computed: {
					filters:function(){
						if (this.showItem=="全部"){
							return this.products;
						}else if(this.showItem=="陶瓷"){
							let newArrs=[];
							this.products.forEach(function(thing){
								if(thing.Product_MType==="陶瓷"){
									newArrs.push(thing);
								}				
							});
						return newArrs;
					}else if(this.showItem=="鋼"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_MType==="鋼"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem=="尼龍"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_BType==="尼龍"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem=="金屬"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_BType==="金屬"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem=="皮革"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_BType==="皮革"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem=="極深潛系列"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_CType==="極深潛系列"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem=="衝浪者系列"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_CType==="衝浪者系列"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem=="海洋飛行系列"){
						let newArrs=[];
						this.products.forEach(function(thing){
							if(thing.Product_CType==="海洋飛行系列"){
								newArrs.push(thing);
							}
						});
						return newArrs;
					}else if(this.showItem="全選"){
						return this.products;
					}
				}		
			},
		mounted() {
				axios.post('./php/productList_page.php',{
					action:'fetchall',
				}).then(res=>{
					this.products=res.data
				})
			}
		});
		</script>
		<script>
			$(document).ready(function () {
				$(".sidebarBtn").click(function () {
					$(".filter").toggleClass("active");
					$(".sidebarBtn").toggleClass("toggle");
				});
			});
			$(document).ready(function(){
				$("input[name=myCheckBox]").click(function () {
				var Selected = $(this).val();
				$("input[name=myCheckBox]").each(function(i){
				if($(this).val() == Selected) $(this).prop("checked", true);
				else $(this).prop("checked", false);
			});
		});
	});
		</script>
		<!-- <script>
			function fetchData(){
				axios.post('productlist_page.php',{
					action:'fetchall',
				}).then(res=>{
					console.log(res);
				})
			};
			function init(){
				fetchData();
			}
			window.addEventListener("load", init, false);
		</script> -->
		
	</body>
</html>
