<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopCar</title>
    <link rel="stylesheet" href="../dist/css/style.css" />
</head>
<body>
    @@include('./layout/header.html')
    <div class="entzu01" id="app">    
        <section class="shoppage">
            <div class="item">
                <div class="item_detail" v-for="(item,index) in itemList" :key="item.Product_ID">
                    <img :src="item.Product_PIC01" alt="">
                    <div class="information">
                        <h4>{{item.Product_Name}}</h4>
                        <div class="counter">
                            <div class="count">
                                <button @click="handleSub(item,index)">-</button>
                                <span class="itemcount">{{item.count}}</span>
                                <button @click="handlePlus(item,index)">+</button>
                            </div>
                            <span>${{item.Product_Price * item.count}}</span>
                        </div>
                   </div>
                   <dt @click="handleDelete(item,index)">刪除</dt>
                </div>
            </div>
            <div class="money_detail">
                <div class="money">
                    <div class="m01">
                        <h2>訂單金額</h2>
                    </div>
                </div>
                <div class="money01" v-for="(item,index) in itemList2" :key="item.Product_ID">    
                    <div class="m02">
                        <p>{{item.Product_Name}}</p>
                        <p id="prodPrice">$ {{item.Product_Price}}</p>
                    </div> 
                    <div class="m03">
                        <p>*{{item.count}}</p>
                        <p id="sum">小計 {{item.Product_Price * item.count}}</p>
                    </div>
                </div>
                <span>總計 $ {{total}}</span>
                <a href="checkout_list.html" @click="updateCart">
                    <button>結帳</button>
                </a>
            </div>
        </section>
    </div>   

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            itemList:[],
        },
        methods: {
            handlePlus(item,index){
                // console.log(item);
                item.count++
                item.count = (item.count > 99) ? 99 : item.count
                this.updateCart();
            },
            handleSub(item,index){
                // console.log(item);
                item.count--
                item.count = (item.count < 1) ? 1 : item.count
                // if(item.count>1){
                //     item.count--;
                // }else{
                //     this.handleDelete(item,index);
                // }
                this.updateCart();
            },
            handleDelete(item,index){
                this.itemList.splice(index,1);
                item.count = 0

            },
            updateCart(){
                localStorage.setItem("addList", JSON.stringify(this.itemList),);
				vmHeader.updateCart();
            }
        },
        computed: {
            itemList2 (){
                return this.itemList
                .filter(i => i.count)
                .map(i => {
                    i.sum = i.Product_Price  * i.count
                    return i
                })
            },
            total (){
                return this.itemList.reduce((sum, i) => (sum + (i.Product_Price  * i.count)), 0)
            }
        },
        mounted(){
            let storageArray = JSON.parse(localStorage.getItem('addList'));
            let storageCount = storageArray.length;
            this.itemList = storageArray;
            console.log(storageCount)
            // axios.post('./php/shopcar_page.php',{
			// 		action:'fetchall',
			// 	}).then(res=>{
			// 		console.log(123)
			// 		this.products=res.data
			// 	})
        },
    })
</script>
@@include('./layout/footer.html')    
</body>
</html>