<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/gird.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.8.1/axios.js' integrity='sha512-yQvhnV+bdDcAhyxTlmVUyNikQCtnIkfC9r7GesIjLg6IrJx2M92DSv58LpyobngV7WUeM1c3mpgP0971pIY98A==' crossorigin='anonymous'></script>
    <title>客製專區</title>
</head>

<body>
    @@include('./layout/header.html')

    <section id="cuz-section"><!-- HTML DOM template -->         
        <div class="container">
            <input type="text" class="cuzname" v-model="cuzName" maxlength="6">
            <i class="fas fa-pen"></i>
        </div>
        <div class="container">
            <div class="cuz-bar">
                <div class="active-tab" 
                v-for="(cuzTab, index) in cuzTabs" 
                :key="index" 
                @click="activeCuzTab(index) ,currentTab = cuzTab.page"
                :class="{activetab:currentTabIndex == index}"
                >
                    <p>{{cuzTab.tab}}</p>
                </div>
            </div>
            <div class="show-box">
                <div class="watch-box">
                    <div v-show="currentTab =='outer'" class="showpic">
                        <img :src="currentBand" class="bottom-img">
                        <img :src="currentBezel" class="float-img">
                        <img :src="currentFace" class="float-img">
                        <img :src="currentFun1" class="fun1">
                        <img :src="currentFun2" class="fun2">
                        <img :src="currentFun3" class="fun3">
                        <img :src="currentPoint" class="float-img">
                        <div class="watch-item">
                            <div class="selected-item" v-for="(currentItem,index) in currentItems" :key="currentItem"
                            @click="changeOuterTab(index)">
                                <img :src="currentItem" class="selected-img">
                            </div>
                        </div>
                    </div>
                    <div v-show="currentTab=='function'" class="showpic">
                        <img :src="currentBand" class="bottom-img">
                        <img :src="currentBezel" class="float-img">
                        <img :src="currentFace" class="float-img">
                        <img :src="currentFun1" class="fun1">
                        <img :src="currentFun2" class="fun2">
                        <img :src="currentFun3" class="fun3">
                        <img :src="currentPoint" class="float-img">
                        <div class="watch-item">
                            <div class="selected-item" v-for="(currentItem,index) in currentItems" :key="currentItem"
                            @click="changeOuterTab(index)">
                                <img :src="currentItem" class="selected-img">
                            </div>
                        </div>
                    </div>
                    <div v-show="currentTab =='word'" class="showpic">
                        <img class="bottom-img" src="./images/wordbackground.png">
                        <img class="plugin" :src="currentWord" >
                        <div class="watch-item">
                            <div class="selected-item" v-for="(currentItem,index) in currentItems" :key="currentItem"
                            @click="changeOuterTab(index)">
                                <img :src="currentItem" class="selected-img">
                            </div>
                        </div>
                    </div>
                    <div v-show="currentTab == 'package'"  class="showpic">
                        <img :src="currentBoxImg" class="bottom-img">
                        <img :src="currentRibbonImg" class="float-img">
                        <div class="watch-item">
                            <div class="selected-item" v-for="(currentItem,index) in currentItems" :key="currentItem"
                            @click="changeOuterTab(index)">
                                <img :src="currentItem" class="selected-img">
                            </div>
                        </div>
                        <button @click="addCuzLocal" class="finish-btn"><a href="finish_page.html">完成客製</a></button>
                    </div>
                </div>
            </div>
            <div class="cuz-zone">
                <keep-alive>
                    <component @emit-item="getItem" @emit-fun="getFun" :is="currentTabPage" @emit-dive="getDive" 
                    @emit-word="getWord"
                    @emit-boxcolor="getBoxColor"
                    @emit-ribboncolor = "getRibbonColor"
                    :props-tab ="currentOuterTab"
                    :propfun1="currentFun1Name"
                    :propfun2="currentFun2Name"
                    :propfun3="currentFun3Name"
                    :propdive="diveFun"
                    ></component>
                </keep-alive>
            </div>
        </div>
    </section>
    @@include('./layout/footer.html')    


    <script>
        Vue.component("outer", {
            props:["props-tab"],
            data() {
                return {
                    outerpages: [
                        {
                            id: 0,
                            title: "錶框",
                            icon:"./images/icon-frame.png",
                            content: [
                                // {
                                //     url: "./images/bezel01.png",
                                //     itemName: "低調銀",
                                // },
                                // {
                                //     url: "./images/bezel02.png",
                                //     itemName: "玫瑰金",
                                // },
                                // {
                                //     url: "./images/bezel03.png",
                                //     itemName: "古典銅",
                                // },
                                // {
                                //     url: "./images/bezel04.png",
                                //     itemName: "奢華黑",
                                // },
                                // {
                                //     url: "./images/bezel01.png",
                                //     itemName: "玫瑰金",
                                // },
                                // {
                                //     url: "./images/bezel02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/bezel03.png",
                                //     itemName: "黑色",
                                // },
                            ],
                        },
                        {
                            id: 1,
                            title: "錶面",
                            icon:"./images/watch-face.png",
                            content: [
                                // {
                                //     url: "./images/face01.png",
                                //     itemName: "黑色",

                                // },
                                // {
                                //     url: "./images/face02.png",
                                //     itemName: "白色",

                                // },
                                // {
                                //     url: "./images/face03.png",
                                //     itemName: "綠色",

                                // },
                                // {
                                //     url: "./images/face04.png",
                                //     itemName: "灰色",

                                // },
                            ],
                        },
                        {
                            id: 2,
                            title: "錶帶",
                            icon:"./images/watch-strap.png",
                            content: [
                                // {
                                //     url: "./images/band01.png",
                                //     itemName: "灰色",
                                // },
                                // {
                                //     url: "./images/band02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/band03.png",
                                //     itemName: "白色",
                                // },
                                // {
                                //     url: "./images/band04.png",
                                //     itemName: "黑色",
                                // },
    
                            ],
                        },
                        {
                            id: 3,
                            title: "指針",
                            icon:"./images/clock.png",
                            content: [
                                // {
                                //     url: "./images/point01.png",
                                //     itemName: "黑指針",
                                // },
                                // {
                                //     url: "./images/point02.png",
                                //     itemName: "白指針",
                                // },
                                // {
                                //     url: "./images/point03.png",
                                //     itemName: "灰指針",
                                // },
                                // {
                                //     url: "./images/point04.png",
                                //     itemName: "黃指針",
                                // },
                            ],
                        },

                    ],
                    selectedOuter:  {
                            id: 0,
                            title: "錶框",
                            icon:"./images/icon-frame.png",
                            content: [
                                // {
                                //     url: "./images/bezel01.png",
                                //     itemName: "玫瑰金",
                                // },
                                // {
                                //     url: "./images/bezel02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/bezel03.png",
                                //     itemName: "黑色",
                                // },
                                // {
                                //     url: "./images/bezel04.png",
                                //     itemName: "粉色",
                                // },
                                // {
                                //     url: "./images/bezel01.png",
                                //     itemName: "玫瑰金",
                                // },
                                // {
                                //     url: "./images/bezel02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/bezel03.png",
                                //     itemName: "黑色",
                                // },
                            ],
                        },

                };
            },
            methods: {
                selectCuzItem(item) {
                    this.$emit('emit-item', item);
                },

                fetchAllData(){
                    axios.post("vuecuzi_bezel.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[0].content = res.data;
                    this.selectedOuter.content = res.data;
                    });
                    axios.post("vuecuzi_face.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[1].content = res.data;
                    });
                    axios.post("vuecuzi_band.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[2].content = res.data;
                    });
                    axios.post("vuecuzi_pointer.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[3].content = res.data;
                    });
                },
            },

            watch:{
                propsTab(newobject,oldobject){
                    this.selectedOuter = newobject;
                }
            },

            mounted(){
                this.fetchAllData();
            },

            template: `
                <div class="outer-page">
                    <div class="aside">
                        <div v-for="(outerpage, index) in outerpages"
                        :key="index"
                        @click ="selectedOuter = outerpages[index]"
                        >
                        <img :src="outerpage.icon">
                        </div>
                    </div>
                    <div class="cuz-item">    
                        <div v-for="(outerItem, index) in selectedOuter.content"
                            :key="index"
                            class="pic"
                            @click="selectCuzItem(outerItem)">
                            <div>
                                <img :src ="outerItem.url">
                            </div>
                            <p>{{outerItem.itemName}}</p>
                        </div>
                    </div>
                </div>
        `
        });


        Vue.component("function", {
            props:["propfun1","propfun2","propfun3","propdive"],
            data() {
                return {
                    currentfun1: this.propfun1,
                    currentfun2: this.propfun2,
                    currentfun3: this.propfun3,
                    dive: this.propdive,
                    funitems: [
                        // {
                        //     funName: '未選擇',
                        //     url: "./images/fun01.png"
                        // },
                        // {
                        //     funName: '計時器',
                        //     url: "./images/fun02.png",
                        // },
                        // {
                        //     funName: '指北針',
                        //     url: "./images/fun03.png"
                        // },
                        // {
                        //     funName: '深度表',
                        //     url: "./images/fun04.png"
                        // },
                    ],

                    diveItem:[
                        // {
                        //    diveName:"防水3ATM",
                        // },
                        // {
                        //     diveName:"防水5ATM",
                        // },
                        // {
                        //     diveName:"防水10ATM",
                        // },
                        // {
                        //     diveName:"防水20ATM",
                        // },
                    ],
                };
            },
            methods: {
                funitemchange(e, num) {
                    // console.log(e.target.value)
                    // console.log(num)
                    // this.$emit('emit-fun',e.target.value); 
                    // this.currentfun = e.target.value;
                    // this.currentfun = e.target.value;
                    // this.currentfun = e.target.value;
                    if (num == 1) {
                        this.currentfun1 = e.target.value;
                    } else if (num == 2) {
                        this.currentfun2 = e.target.value;
                    } else if (num == 3) {
                        this.currentfun3 = e.target.value;
                    }
                },
                getUrl(funname) {
                    let obj = this.funitems.find(item => {
                        return item.WFuc_Name == funname
                    });
                    if (obj && obj.WFuc_PIC) return obj;
                    return "";
                },

                fetchAllData(){
                    axios.post("vuecuzi_fun.php",{action:'fetchall'}).then(res=>
                    {
                    this.funitems = res.data;
                    });
                    axios.post("vuecuzi_dive.php",{action:'fetchall'}).then(res=>
                    {
                    this.diveItem = res.data;
                    console.log(res.data);
                    });
                },

            },

            mounted(){
                this.fetchAllData();
            },
            computed: {
                test1() {
                    return {
                        url1: this.getUrl(this.currentfun1),
                        url2: this.getUrl(this.currentfun2),
                        url3: this.getUrl(this.currentfun3),
                    };

                    // return [
                    //     this.getUrl(this.currentfun1),
                    //     this.getUrl(this.currentfun2),
                    //     this.getUrl(this.currentfun3),
                    // ];
                },
                funitems1() {
                    return this.funitems.filter(item => {
                        return ((item.WFuc_Name !== this.currentfun2 && item.WFuc_Name !== this.currentfun3) || item.WFuc_Name == '未選擇')
                    });
                },
                funitems2() {
                    return this.funitems.filter(item => {
                        return ((item.WFuc_Name !== this.currentfun1 && item.WFuc_Name !== this.currentfun3) || item.WFuc_Name == '未選擇')
                    });
                },
                funitems3() {
                    return this.funitems.filter(item => {
                        return ((item.WFuc_Name !== this.currentfun1 && item.WFuc_Name !== this.currentfun2) || item.WFuc_Name == '未選擇')
                    });
                },

            },
            watch: {
                test1(newValue, oldValue) {
                    // console.log(newValue)
                    this.$emit("emit-fun", newValue);
                },

                dive(newValue, oldValue){
                    this.$emit("emit-dive",newValue);                
                }
            },

            template: `
            <div class="function-page">
                <h3>功能表盤</h3>
                <div class="fun-area">
                    <div class = "fun-pic">
                        <img src="./images/finishfunpic.png" alt="">
                    </div>
                    <div class="fun-select">
                        <div class="select-item">
                            <label for="">1</label>
                            <select @change="funitemchange($event, 1)" v-model="currentfun1">
                                <option v-for="(funitem,index) in funitems1" :key="funitem.WFuc_Name">
                                    {{funitem.WFuc_Name}}
                                </option>
                            </select>
                        </div>
                        <div class="select-item">
                            <label for="">2</label>
                            <select @change="funitemchange($event, 2)" v-model="currentfun2">
                                <option v-for="funitem in funitems2" :key="funitem.WFuc_Name">{{funitem.WFuc_Name}}</option>
                            </select>
                        </div>
                        <div class="select-item">
                            <label for="">3</label>
                            <select @change="funitemchange($event, 3)" v-model="currentfun3">
                                <option v-for="funitem in funitems3" :key="funitem.WFuc_Name">{{funitem.WFuc_Name}}</option>
                            </select>
                        </div>
                    
                    </div>
                </div>
                <h3>潛水規格需求</h3>
                <div class="dive-area">
                    <input type="radio" id="3" v-model="dive" value="防水3ATM">
                    <label for="3">{{diveItem[0].WDiv_Name}}</label><br>
                    <input type="radio" id="5" v-model="dive" value="防水5ATM">
                    <label for="5">{{diveItem[1].WDiv_Name}}</label><br>
                    <input type="radio" id="10" v-model="dive" value="防水10ATM">
                    <label for="10">{{diveItem[2].WDiv_Name}}</label><br>
                    <input type="radio" id="20" v-model="dive" value="防水20ATM">
                    <label for="20">{{diveItem[3].WDiv_Name}}</label>
                </div>
            </div>
          `
        });


        Vue.component("word",{
            data(){
                return{
                    msg: "RAKA",
                    fonts: "Arial",
                    fontStyles: ["Arial","Arial Black","Calibri"],
                    fontSize: 14,
                    fontSizes: [14, 16, 18, 20],
                    fontCor: "black",
                    imgSrc: "",
                }
            },

            methods:{
                createImg() {
						this.drawText(this.msg, this.fonts);
					},
                drawText(text, font) {
                    let canvas = document.createElement("canvas");
                    let context = canvas.getContext("2d");
                    let width = context.measureText(text).width;
                    if (width < 240) {
                        width = 400;
                    } else {
                        width = width + 30;
                    }
                    canvas.width = width;
                    canvas.height = 80;
                    context.fillStyle = "transparent";
                    context.fillRect(0, 0, canvas.width, canvas.height);
                    context.font = `${this.fontSize}px ${font}`;
                    context.textAlign = "center";
                    context.textBaseline = "middle";
                    context.fillStyle = this.fontCor;
                    context.fillText(text, canvas.width / 2, canvas.height / 2);
                    let dataUrl = canvas.toDataURL("image/png");
                    this.imgSrc = dataUrl;
                    this.$emit('emit-word',dataUrl,this.msg,this.fonts,this.fontSize);
                    return dataUrl;
                },

            },

            template:`
                <div class="word-page">
                    <div class="content_zone">
                        <label for="">刻字內容(最多六個字)</label>
                        <input name="" id="" v-model="msg" maxlength="6">
                    </div>
                    <div class="fontStyle_zone">
                        <label>字體</label>
                        <select name="" id="" v-model="fonts">
                            <option v-for="font of fontStyles">{{font}}</option>
                        </select>
                    </div>
                    <div class="fontWeight_zone">
                        <label>文字大小</label>
                        <select name="" id="" v-model="fontSize">
                            <option v-for="size of fontSizes">{{size}}</option>
                        </select>
                    </div>
                    <button @click="createImg" class="check-word">確認</button>
				</div>
            `
        });


        Vue.component("package",{
            data(){
                return{
                    boxColors:[
                        // {
                        //     colorId: 1,
                        //     colorBtn:"./images/color01.png",
                        //     boxImg:"./images/box01.png",
                        // },
                        // {
                        //     colorId:2,
                        //     colorBtn:"./images/color02.png",
                        //     boxImg:"./images/box02.png",
                        // },
                        // {
                        //     colorId:3,
                        //     colorBtn:"./images/color03.png",
                        //     boxImg:"./images/box03.png",
                        // },
                        // {
                        //     colorId:4,
                        //     colorBtn:"./images/color04.png",
                        //     boxImg:"./images/box04.png",
                        // },
                        // {
                        //     colorId:5,
                        //     colorBtn:"./images/color05.png",
                        //     boxImg:"./images/box05.png",
                        // },
                    ],

                    ribbonColors:[
                        // {
                        //     colorId:1,
                        //     colorBtn:"./images/color01.png",
                        //     ribbonImg:"./images/ribbon01.png",
                        // },
                        // {
                        //     colorId:2,
                        //     colorBtn:"./images/color02.png",
                        //     ribbonImg:"./images/ribbon02.png",
                        // },
                        // {
                        //     colorId:3,
                        //     colorBtn:"./images/color03.png",
                        //     ribbonImg:"./images/ribbon03.png",
                        // },
                        // {
                        //     colorId:4,
                        //     colorBtn:"./images/color04.png",
                        //     ribbonImg:"./images/ribbon04.png",
                        // },
                        // {
                        //     colorId:5,
                        //     colorBtn:"./images/color05.png",
                        //     ribbonImg:"./images/ribbon05.png",
                        // },
                    ],

                }
            },

            methods:{
                changeBoxColor(num){
                    let box = this.boxColors[num];
                    this.$emit("emit-boxcolor",box);
                },
                changeRibbonColor(num){
                    let ribbon = this.ribbonColors[num];
                    this.$emit("emit-ribboncolor",ribbon);
                },

                fetchAllData(){
                    axios.post("vuecuzi_pbox.php",{action:'fetchall'}).then(res=>
                    {
                    this.boxColors = res.data;
                    console.log(res.data);
                    });
                    axios.post("vuecuzi_pband.php",{action:'fetchall'}).then(res=>
                    {
                    this.ribbonColors = res.data;
                    console.log(res.data);
                    });
                },

            },

            mounted(){
                this.fetchAllData();
            },

            template:`
            <div class="package-page">
                <div class="box-color">
                    <h3>包裝顏色</h3>
                    <ul>
                        <li v-for="(boxColor,index) in boxColors"
                        :key="boxColor.PBox_ID"
                        @click="changeBoxColor(index)">
                            <img :src="boxColor.PBox_Color">
                        </li>
                    </ul>
                </div>
                <div class="ribbon-color">
                    <h3>緞帶顏色</h3>
                    <ul>
                        <li v-for="(ribbonColor,index) in ribbonColors"
                        :key="ribbonColor.PBand_ID"
                        @click="changeRibbonColor(index)">
                            <img :src="ribbonColor.PBand_Color">
                        </li>
                    </ul>
                </div>
            </div>
            `
        });

        new Vue({
            el: '#cuz-section',
            data: {  // 變數放這裡
                currentTabIndex: 0,
                currentTab: "outer",
                currentOuterTab:"",
                currentBezel: "./images/bezel01.png",
                currentBezelName:"低調銀",
                currentFace: "./images/face01.png",
                currentFaceName:"黑色",
                currentBand: "./images/band01.png",
                currentBandName:"灰色",
                currentPoint: "./images/point01.png",
                currentPointName:"黑指針",
                currentFun1:"./images/fun01.png",
                currentFun1Name:"未選擇",
                currentFun2:"./images/fun01.png",
                currentFun2Name:"未選擇",
                currentFun3:"./images/fun01.png",
                currentFun3Name:"未選擇",
                diveFun:"防水3ATM",
                currentBoxImg:"./images/box01.png",
                currentBoxBtn:"./images/color01.png",
                currentRibbonImg:"./images/ribbon01.png",
                currentRibbonBtn:"./images/color01.png",
                cuzName:"",
                currentWord:"",
                currentFontSize:"14",
                currentFont:"Arial",
                currentMsg:"RAKA",
                hotCuzContent:null,
                cuzTabs: [
                    {
                        page: 'outer',
                        tab: '外觀',
                    },
                    {
                        page: 'function',
                        tab: '功能',
                    },
                    {
                        page: 'word',
                        tab: '刻字',
                    },
                    {
                        page: 'package',
                        tab: '包裝',
                    },
                ],
                outerpages: [
                        {
                            id: 0,
                            title: "錶框",
                            icon:"./images/icon-frame.png",
                            content: [
                                // {
                                //     url: "./images/bezel01.png",
                                //     itemName: "玫瑰金",
                                // },
                                // {
                                //     url: "./images/bezel02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/bezel03.png",
                                //     itemName: "黑色",
                                // },
                                // {
                                //     url: "./images/bezel04.png",
                                //     itemName: "粉色",
                                // },
                                // {
                                //     url: "./images/bezel01.png",
                                //     itemName: "玫瑰金",
                                // },
                                // {
                                //     url: "./images/bezel02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/bezel03.png",
                                //     itemName: "黑色",
                                // },
                            ],
                        },
                        {
                            id: 1,
                            title: "錶面",
                            icon:"./images/watch-face.png",
                            content: [
                                // {
                                //     url: "./images/face01.png",
                                //     itemName: "黑色",

                                // },
                                // {
                                //     url: "./images/face02.png",
                                //     itemName: "白色",

                                // },
                                // {
                                //     url: "./images/face03.png",
                                //     itemName: "綠色",

                                // },
                                // {
                                //     url: "./images/face04.png",
                                //     itemName: "灰色",

                                // },
                            ],
                        },
                        {
                            id: 2,
                            title: "錶帶",
                            icon:"./images/watch-strap.png",
                            content: [
                                // {
                                //     url: "./images/band01.png",
                                //     itemName: "灰色",
                                // },
                                // {
                                //     url: "./images/band02.png",
                                //     itemName: "綠色",
                                // },
                                // {
                                //     url: "./images/band03.png",
                                //     itemName: "白色",
                                // },
                                // {
                                //     url: "./images/band04.png",
                                //     itemName: "黑色",
                                // },
                            ],
                        },
                        {
                            id: 3,
                            title: "指針",
                            icon:"./images/clock.png",
                            content: [
                                // {
                                //     url: "./images/point01.png",
                                //     itemName: "黑指針",
                                // },
                                // {
                                //     url: "./images/point02.png",
                                //     itemName: "白指針",
                                // },
                                // {
                                //     url: "./images/point03.png",
                                //     itemName: "灰指針",
                                // },
                                // {
                                //     url: "./images/point04.png",
                                //     itemName: "黃指針",
                                // },
                            ],
                        },

                    ],
            },
            computed: { // 函數(方法)也可以放這裡，但是放在這裡的函數，不能傳參數，一定要有傳回值
                currentTabPage: function () {
                    return this.currentTab;
                },
                currentItems(){
                    return [this.currentBezel,this.currentFace,this. currentBand,this.currentPoint];
                },
            },
            methods: {
                activeCuzTab(index){
                    this.currentTabIndex = index;
                },


                getItem(img) {
                    if (img.url.includes("bezel")) {
                        this.currentBezel = img.url;
                        this.currentBezelName = img.itemName;
                    } else if (img.url.includes("face")) {
                        this.currentFace = img.url;
                        this.currentFaceName = img.itemName;
                    } else if (img.url.includes("band")) {
                        this.currentBand = img.url;
                        this.currentBandName = img.itemName;
                    } else if (img.url.includes("point")) {
                        this.currentPoint = img.url;
                        this.currentPointName = img.itemName;
                    }
                },

                changeOuterTab(index){
                    this.currentOuterTab = this.outerpages[index];
                    this.currentTab = "outer";
                    this.currentTabIndex = 0;
                },

                getFun(funs) {
                    this.currentFun1 = funs.url1.WFuc_PIC;
                    this.currentFun2 = funs.url2.WFuc_PIC;
                    this.currentFun3 = funs.url3.WFuc_PIC;
                    this.currentFun1Name = funs.url1.WFuc_Name;
                    this.currentFun2Name = funs.url2.WFuc_Name;
                    this.currentFun3Name = funs.url3.WFuc_Name;              
                },

                getDive(dive) {
                    this.diveFun = dive; 
                },
                getWord(word,wmsg,wfont,wfontsize){
                    this.currentWord = word;
                    this.currentFontSize = wfontsize;
                    this.currentFont = wfont;
                    this.currentMsg = wmsg;
                },
                getBoxColor(box){
                    this.currentBoxImg = box.PBox_PIC;
                    this.currentBoxBtn = box.PBox_Color;          
                },

                getRibbonColor(ribbon){
                    this.currentRibbonImg = ribbon.PBand_Pic;
                    this.currentRibbonBtn = ribbon.PBand_Color;          
                },
                addCuzLocal(){
                    localStorage.setItem("cuziwatch",JSON.stringify(this.$data))
                },

                fetchAllData(){
                    axios.post("vuecuzi_bezel.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[0].content = res.data;
                    }
                    );
                    axios.post("vuecuzi_face.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[1].content = res.data;
                    });
                    axios.post("vuecuzi_band.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[2].content = res.data;
                    });
                    axios.post("vuecuzi_pointer.php",{action:'fetchall'}).then(res=>
                    {
                    this.outerpages[3].content = res.data;
                    });
                },
            },

            mounted(){
                this.fetchAllData();
                let storage = JSON.parse(localStorage.getItem("hotCuz"));
                this.hotCuzContent = storage;
                if(this.hotCuzContent != null){
                    this.currentBezel = this.hotCuzContent.bezelImg;
                    this.currentBezelName = this.hotCuzContent.bezel;
                    this.currentFace = this.hotCuzContent.faceImg;
                    this.currentFaceName = this.hotCuzContent.face;
                    this.currentBand = this.hotCuzContent.bandImg;
                    this.currentBandName = this.hotCuzContent.band;
                    this.currentPoint = this.hotCuzContent.pointImg;
                    this.currentPointName = this.hotCuzContent.point;
                    this.currentFun1 = this.hotCuzContent.fun1Img;
                    this.currentFun1Name = this.hotCuzContent.fun1;
                    this.currentFun2 = this.hotCuzContent.fun2Img;
                    this.currentFun2Name = this.hotCuzContent.fun2;
                    this.currentFun3 = this.hotCuzContent.fun3Img;
                    this.currentFun3Name = this.hotCuzContent.fun3;
                    this.diveFun = this.hotCuzContent.dive;
                    this.cuzName =this.hotCuzContent.cuzName;
                }
            },
        });
    </script>


</body>

</html>