
    <div id="chatbox" class="chatbox">
        <div class="chat-head">
            <div id="close" class="close">
                <img src="./images/cross.png" alt="">
            </div>
            <div class="pic">
                <img src="./images/logo.png" alt="">
            </div>
        </div>
        <div id="cbox" class="chat">
           
        </div>
        <div class="chatbox_answer">
            <div class="element">
                <input id="content" type="text" placeholder="請輸入您的問題...">
                <button id="btn" type="submit">發送</button>
            </div>
        </div>
    </div>

        