<footer class="main-footer">
    <div class="container">
        <div class="main-footer-logo">
            <img src="./images/logo-footer.png" alt="">
        </div>
        <div class="main-footer-nav">
            <ul>
                <li>
                    <a href="">商品瀏覽</a>
                </li>
                <li>
                    <a href="">客製化專區</a>
                </li>
                <li>
                    <a href="">關於我們</a>
                </li>
                <li>
                    <a href="">商品瀏覽</a>
                </li>
                <li>
                    <a href="">會員專區</a>
                </li>
            </ul>
        </div>
        <div class="searchAndIcon">
            <div class="search-box">
                <input type="text">
                <img src="./images/search-interface-symbol.png" alt="">
            </div>
            <div class="icon-box">
                <img src="./images/line.png" alt="">
                <img src="./images/instagram.png" alt="">
                <img src="./images/facebook .png" alt="">
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>本網站為緯育TibaMe_前端設計工程師班第71期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，您可以私訊<a href="https://www.facebook.com/TibaMe">[緯育TibaMe]</a>，後續會由專人協助處理。</p>
    </div>
</footer>