<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <header class="main-header" id="main-header">
        <div class="container">
            <div class="logo" onclick="javascript:location.href='../index.html'">
                <img src="./images/logo.png" alt="">
            </div>
            <div class="hb" id="hbBtn">
                <span></span>
                <span></span>
            </div>
            <nav class="main-nav" id="main-nav">
                <ul>
                    <li>
                        <a href="./productList_page.html" class="product">商品瀏覽</a>
                    </li>
                    <li>
                        <a href="./hot_design.html" class="customize01">客製化專區</a>
                    </li>
                    <li>
                        <a href="./aboutUs_page.html" class="aboutus">關於我們</a>
                    </li>
                    <li>
                        <a href="./member_comm.html" class="member">會員專區</a>
                    </li>
                </ul>
                <div class="memBtn">
                    <a class="login" href="./loginAndRegi_page.html"> 登入</a>
                    <a class="sighup" href="./loginAndRegi_page.html">註冊</a>
                </div>
            </nav>
            <div class="cart">
                <span class="item-count">{{itemCount}}</span>
                <a href="./shopcar_page.html"><img src="./images/bag.png" alt=""></a>
            </div>
        </div>
    </header>
    <script>
        function slide(){
            document.getElementById("main-nav").classList.toggle("hidden");
        }
        function init(){
            document.getElementById("hbBtn").onclick = slide;
        }
        window.addEventListener("load", init, false)
    </script>
    <script>
        let vmHeader = new Vue({
            data:{
                itemCount:'0',
                cart:[],
            },
            methods: {
                updateCart(){
                    let storageArray = JSON.parse(localStorage.getItem('addList'));
                    this.cart = storageArray||[];
                    this.itemCount = this.cart.length;
                }
            },
            mounted() {
               this.updateCart();
            },
        }).$mount('#main-header')
    </script>
</body>
</html>